.bar.bar-positive {
    border-color: #fff;
    background-color: #fff;
    background-image: linear-gradient(0deg, #fff, #eee 50%, transparent 50%);
    color: #333 !important;
}

.header-item a {
    color: #333 !important;
}


 textarea{
    padding-top: 10px;
}


.button.button-assertive {
    border-color: transparent;
    background-color: transparent;
    color: #ddd;
}

.button.button-stable.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #333;
    font-size: 14px;
}